.movies {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 0;
}

@media screen and (max-width: 768px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 640px) {
  .movies {
    padding-left: 14px;
    padding-right: 14px;
  }
}