.account {
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity .4s ease
}

.account:hover {
  opacity: .6;
}

.account__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #FFF;
  margin: 0;
}

.account__icon {
  display: inline-block;
  background-image: url(../../images/account-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #313131;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  margin-left: 7px;
}