.filter {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #424242;;
}

.filter__checkbox {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 36px;
  border-radius: 16px;
  box-shadow: inset -18px 0px 0px 0px #202020;
  background-color: #1612eb;
  outline: none;
  transition: 0.2s;
  margin-right: 14px;
  border: 1px solid #1612eb;
}

.filter__checkbox:checked {
  box-shadow: inset 18px 0px 0px 0px #202020;
  background-color: #3DDC84;
  border: 1px solid #3DDC84;
}

.filter__checkbox:hover {
  opacity: .7;
  cursor: pointer;
}

.filter__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .filter__text {
    font-size: 11px;
  }
}